@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

.card {
  height: 600px;
  width: 450px;
  border-radius: 1em;
  padding: 5px;
  margin: auto;
}

.top {
  font-size: 100px;
}

.number {
  font-size: 100px;
}

.botttom {
  font-size: 100px;
}
